.container{
    height: auto;
    padding-top: 2cm;
}
.slider img{
    display: block;
    width: 80%;
    max-height: 500px;
    margin-left: auto;
    margin-right: auto;
}
.slider{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}
.slider button{
    /* margin-top: 20%; */
    width: 5%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.747);
    border: none;
    color: white;
    /* position: relative; */
    /* z-index: 9999; */

    margin: auto;
}
.link{
    width: 30%;
    font-size: 100%;
    text-decoration: none;
    color: white;
    background-color: rgba(24, 59, 112, 0.479);
    border-radius: 20px;
    padding: 0.5cm;
    box-sizing: border-box;
}

.primePage img{
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;

}



/* benefit=========================== */

.benefit{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.benefit-box{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.benefit .box-item{
    background-color: rgba(255, 255, 255,0.7);
    width: 220px;
    height: auto;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 30px;
    box-sizing: border-box;
    transition: 0.2s;
}
.benefit .box-item img{
    width: 80px;
    height: 50px;
    display: block;
    margin-left: auto;margin-right: auto;
}
.benefit .box-item h1{
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: auto;margin-right: auto;
    margin-top: 10px;
    text-align: center;
}
.benefit .box-item p{
    font-size: 17px;
    text-align: center;
}
/* benefit=========================== */

/* popular================================ */
.popular{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.popular-box{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.popular .box-item{  
    border-radius: 30px;
    width: 220px;
    height: auto;
    background-color: white;
    box-shadow: 5px 5px 5px 5px  rgb(165, 164, 164);
    font-size: 17px;
    color: rgb(116, 116, 116);
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}
.popular .box-item img{
    width: 100%;
    height: 4cm;
    transition: 0.2s;
    padding-top: 25px;
    display: block;
}
.popular .box-item img:hover{
    transform: scale(1.2) translateZ(10px);
}

.popular .box-item a{
    text-decoration: none;
    text-align: center;
    color: rgb(39, 39, 39);
    font-size: 20px;
    font-weight: bold;
}
.popular .box-item h1{
    margin: 10px auto;
}
.popular .box-item p{
    margin-bottom: 20px;
}
.popular .box-item h1 :hover{
    color: orange;
}

/* new aririved================================================= */

.new-arrived{
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.new-arrived-box{
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.new-arrived .box-item{  
    border-radius: 30px;
    width: 220px;
    height: auto;
    background-color: white;
    box-shadow: 5px 5px 5px 5px  rgb(165, 164, 164);
    font-size: 17px;
    color: rgb(116, 116, 116);
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
}
.new-arrived .box-item h1{
    margin: 10px auto;
}

.new-arrived .box-item img{
    width: 100%;
    height: 4cm;
    transition: 0.2s;
    padding-top: 25px;
    display: block;
}
.new-arrived .box-item img:hover{
    transform: scale(1.2) translateZ(10px);
}

.new-arrived .box-item a{
    text-decoration: none;
    text-align: center;
    color: rgb(39, 39, 39);
    font-size: 20px;
    font-weight: bold;
}
.new-arrived .box-item p{
    margin-bottom: 20px;
}
.new-arrived .box-item h1 :hover{
    color: orange;
}


@media (max-width: 1000px){
    .primePage img{
        width: 100%;
    }
}

/* benefit========================= */
@media (min-width: 1200px){
    .benefit-box {
        min-width: 800px;
    }
    .benefit-box .box-item{
        width: 30%;
        height: 250px;
    }
    
    .benefit .box-item img{
        width: 120px;
        height: 80px;
        display: block;
        margin-left: auto;margin-right: auto;
    }
    .benefit .box-item h1{
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: auto;margin-right: auto;
        margin-top: 10px;
        text-align: center;
    }
    .benefit .box-item p{
        font-size: 17px;
        text-align: center;
    }
}
/* benefit========================= */


/* popular and new arrived================================ */
@media (min-width: 1200px){
    .popular-box,.new-arrived-box {
        min-width: 800px;
    }
    .benefit .benefit-box,.popular-box .box-item,.new-arrived-box .box-item{
        width: 21%;
    }
    .popular .box-item img,.new-arrived-box .box-item img{
        height: 4cm;
    }
}
@media (max-width: 694px){
    .benefit .benefit-box .box-item{
        width: 100%;
    }
    
    
}
@media (max-width: 462px){
    .popular-box,.new-arrived-box {
        width: 100%;
    }
    
    .popular-box .box-item,.new-arrived-box .box-item{
        width: 46%;
    }
    .popular .box-item img,.new-arrived-box .box-item img{
        height: 3cm;
    }
    
    .slider img{
        height: 200px;
    }
    
}

@media (max-width: 363px){
    .popular-box .box-item,.new-arrived-box .box-item{
        width: 55%;
    }
    .popular .box-item img,.new-arrived-box .box-item img{
        height: 3cm;
    }
    .slider img{
        height: 180px;
    }
    
}
